<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LEDSoundsystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>800902F61C88C9F400722614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8009030F1C88C9F500722614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8009031A1C88C9F500722614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
